version: "3.8"

services:
  redis:
    image: "redis:latest"
    container_name: "redis"
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  app:
    build: .
    container_name: url-app
    ports:
      - "9808:9808"
    environment:
      BASE_URL: "http://localhost:9808"
      REDIS_ADDR: "redis:6379"
      PORT: "9808"
    depends_on:
      - redis
    restart: unless-stopped

volumes:
  redis-data:


